@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  :root {
    --background: 210 20% 98%;
    --foreground: 222 47% 11%;
    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 11%;

    --primary: 246 83% 63%;
    --primary-foreground: 210 40% 98%;
    --secondary: 221 100% 96%;
    --secondary-foreground: 222 47% 11%;
    --muted: 220 14% 96%;
    --muted-foreground: 220 10% 46%;
    --accent: 267 100% 95%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 246 83% 63%;

    --chart-1: 221 83% 53%;
    --chart-2: 265 89% 63%;
    --chart-3: 160 84% 39%;
    --chart-4: 31 97% 59%;
    --chart-5: 0 84% 60%;

    --radius: 0.75rem;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 246 83% 63%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 246 83% 63%;
  }
  .dark {
    --background: 222 47% 7%;
    --foreground: 210 40% 98%;
    --card: 222 47% 7%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 7%;
    --popover-foreground: 210 40% 98%;

    --primary: 246 83% 63%;
    --primary-foreground: 222 47% 7%;
    --secondary: 222 47% 12%;
    --secondary-foreground: 210 40% 98%;
    --muted: 222 47% 12%;
    --muted-foreground: 220 10% 65%;
    --accent: 246 45% 20%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 36%;
    --destructive-foreground: 210 40% 98%;

    --border: 222 47% 12%;
    --input: 222 47% 12%;
    --ring: 246 83% 63%;

    --chart-1: 221 83% 66%;
    --chart-2: 265 89% 64%;
    --chart-3: 160 84% 45%;
    --chart-4: 31 97% 64%;
    --chart-5: 0 84% 66%;

    --radius: 0.75rem;

    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 246 83% 63%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 246 83% 63%;
  }
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}